# Jira MCP Server Configuration
MCP_HOST=0.0.0.0
MCP_PORT=8002
MCP_TRANSPORT=http
MCP_DEBUG=false
MCP_SERVER_NAME=JiraMCP Server


# ── Jira connection ────────────────────────────────────────────────────────
JIRA_URL=https://hsskill.atlassian.net
JIRA_API_TOKEN=ATATT3xFfGF0qICQDCOkIooiOpkMakbkfgc12T_qeE7waGnsYer5POSma97gpiwnX6QAi8nvm9-h7bqDupLQog59fib5gsrokfNA-6S4L5gQxva2Eh_YaW6g-KOHhHgqp5ryqzu9W5mnvWAubIFE7LGJ77emj4l8O0-FqEL8GBUOkwOdKji5TIc=B5713370
JIRA_EMAIL=aravinthan.babu@gmail.com